<?xml version="1.0"?>
<!--
/**
 * This file is part of the Orangecat Prices package.
 *
 * (c) Oliverio Gombert <olivertar@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">


    <!-- Ensure B2B Prices are mapped properly when Quotes become Orders -->
    <type name="Magento\Quote\Model\Quote\Item\ToOrderItem">
        <plugin name="orangecat_prices_quote_to_order_item" 
                type="Orangecat\Prices\Plugin\Quote\Model\Quote\Item\ToOrderItem" 
                sortOrder="10"/>
    </type>

    <!-- Global Price Interceptors (B2B Price Engine overrides Base/Final Price) -->
    <type name="Magento\Catalog\Pricing\Price\FinalPrice">
        <plugin name="orangecat_prices_catalog_final_price"
                type="Orangecat\Prices\Plugin\Pricing\FinalPricePlugin"
                sortOrder="100"/>
    </type>

    <type name="Magento\ConfigurableProduct\Pricing\Price\FinalPrice">
        <plugin name="orangecat_prices_configurable_final_price"
                type="Orangecat\Prices\Plugin\Pricing\FinalPricePlugin"
                sortOrder="100"/>
    </type>

    <preference for="Magento\InventoryCatalogFrontendUi\Controller\Product\GetQty" type="Orangecat\Prices\Controller\Rewrite\Product\GetQty" />
</config>
