<?xml version="1.0"?>
<!--
/**
 * This file is part of the Orangecat Prices package.
 *
 * (c) Oliverio Gombert <olivertar@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- Triggered when a product price is calculated in PHP (Backend, Cart, Checkout) -->
    <event name="catalog_product_get_final_price">
        <observer name="orangecat_prices_process_final_price" instance="Orangecat\Prices\Observer\ProcessFinalPriceObserver" />
    </event>
</config>
