<?xml version="1.0"?>
<!--
/**
 * This file is part of the Orangecat Prices package.
 *
 * (c) Oliverio Gombert <olivertar@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Framework\App\ActionInterface">
        <plugin name="orangecat_prices_action_context"
                type="Orangecat\Prices\Plugin\App\HttpContextPlugin"
                sortOrder="100"/>
    </type>

    <!-- FPC & Varnish: Set Company Context before Vary String generation -->
    <type name="Magento\Framework\App\Http\Context">
        <plugin name="orangecat_prices_http_context"
                type="Orangecat\Prices\Plugin\App\HttpContextPlugin"
                sortOrder="100"/>
    </type>

    <!-- Block Cache: Append company ID to PriceBox cache key -->
    <type name="Magento\Framework\Pricing\Render\PriceBox">
        <plugin name="orangecat_prices_pricebox_cache_key"
                type="Orangecat\Prices\Plugin\Pricing\Render\PriceBox\CacheKeyPlugin"
                sortOrder="100"/>
    </type>
</config>
