//
//  Common
//  _____________________________________________

& when (@media-common =true) {
    .b2b-price-loading {
        opacity: 0.5;
        filter: blur(3px);
        transition: all 0.3s ease;
        pointer-events: none;
    }

    .prices-tier.items.b2b-tier-prices {
        margin-top: 15px;
        margin-bottom: 20px;

        .item {
            margin-bottom: 5px;
        }
    }
}